*{
  font-family: sans-serif;
}

button {
  font-size: 15px;
  text-transform: uppercase;
  margin: 35px 20px 35px 20px;
}

.contenedor {
  margin: 50px 80px;
}

.contenedor2{
	width: 450px;
	background-color: #D6D6D6;
}

span,input {margin-left:10px;}